---
import BaseLayout from '../layouts/Layout.astro';
---
<BaseLayout>
  <h1>Page introuvable</h1>
  <p>Cette page n'existe pas (ou plus). Voici par où continuer :</p>
  <ul>
    <li><a href="/mathematiques/">Mathématiques</a></li>
    <li><a href="/physique/">Physique</a></li>
    <li><a href="/si/">Sciences de l'ingénieur</a></li>
    <li><a href="/">Accueil</a></li>
  </ul>
</BaseLayout>